.header-container {
  background-color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-start; /* 왼쪽 정렬 */
  align-items: center;
  width: calc(100% - 200px); /* 사이드바를 제외한 나머지 전체를 차지 */
  height: 40px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 290px; /* 사이드바를 고려하여 위치 설정 */
  z-index: 1000;
}

.search-bar-container {
  display: flex; /* Flexbox로 설정 */
  align-items: center;
  width: 90%;
}

.create-schedule-button {
  all: unset;
  border: 1px solid #333;
  text-align: center;
  width: 150px;
  height: 38px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  background-color: #0d47a1;
  color: white;
  margin-left: auto; /* 버튼을 오른쪽으로 밀어내기 */
}

.create-schedule-button:active {
  opacity: 0.7;
}
