html, body {
    margin: 0;
    padding: 0;
    height: 50%;
    font-family: Arial, sans-serif;
    background-color: #BBDEFB;
    display: flex;
    justify-content: center;
}

.login-container {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BBDEFB; /* This ensures the entire background is the same color */
}

.login-box {
    background-color: #E3F2FD;
    padding: 40px;
    margin-top: 20%;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 600px;
}

.logo {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #000;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    color: #999;
    font-size: 16px;
    text-align: left;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    font-size: 16px;
    background-color: transparent;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

.signup-link {
    margin-top: 20px;
}

.signup-link a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
}

.signup-link a:hover {
    text-decoration: underline;
}
