.mypage-container {
  padding: 20px;
  margin-left: 250px; /* 사이드바 너비만큼 왼쪽 여백 추가 */
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.edit-profile-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.travel-plans-section {
  margin-top: 20px;
  text-align: center; /* 중앙 정렬 */
}

.travel-plans-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* 중앙 정렬 */
}

.travel-plan-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 250px;
  text-align: center;
}

.delete-plan-button {
  background-color: red;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
