.schedule-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(50% - 40px); /* 한 줄에 두 개의 카드가 들어가도록 설정 */
    box-sizing: border-box; /* 패딩과 마진을 포함하여 박스 크기를 계산 */
    text-align: left; /* 텍스트를 왼쪽 정렬 */
    transition: background-color 0.3s ease;
    cursor: pointer; /* 마우스 커서가 포인터로 변경 */
    position: relative; /* 닉네임 위치 조정을 위한 상대 위치 */
    margin-top: 40px;
    margin-left: 30px;
}

.schedule-card h3 {
    font-size: 1.2rem; /* 제목 크기 확대 */
    font-weight: bold;
}

.schedule-card p {
    margin: 5px 0;
    font-size: 1rem; /* 텍스트 크기 확대 */
    color: #333;
}

.schedule-nickname {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 0.85rem;
    color: #777;
}

.schedule-card:hover {
    background-color: #e0f7fa;
}
