.schedule-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    margin-top: 20px;
    flex: 0 1 calc(50% - 40px); /* 기본적으로 한 줄에 두 개 배치 */
    box-sizing: border-box; /* 패딩과 마진을 포함한 박스 크기 계산 */
    position: relative; /* 닉네임을 절대 위치로 배치할 수 있도록 설정 */
    text-align: center; /* 텍스트를 중앙 정렬 */
    transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
    .schedule-card {
        flex: 0 1 calc(100% - 40px); /* 화면이 좁아지면 한 줄에 하나 배치 */
    }
}

.schedule-card:hover {
    background-color: #e0f7fa;
}

.schedule-card h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.schedule-card p {
    margin: 5px 0;
    font-size: 1rem;
}

.schedule-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.schedule-dates {
    font-size: 0.9rem;
    margin-bottom: 10px;
    color: #333;
}

.schedule-nickname {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 0.75rem; /* 작은 글씨 */
    color: #777; /* 회색으로 표시 */
}
