.schedule-date-item-container{
  width: 100%;
  margin-bottom: 50px;
  

}
.detail-date-container{
  display: grid;
  width: 100%;
  min-height: 150px;

  grid-template-rows: auto auto;

}
.schedule-date-item-container .date-container{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.schedule-date-item-container .date-container p{
  margin: 0;
}

.detail-schedule-container{
  width: 100%;
  background-color: white;
  border-radius: 7px;
  padding-bottom: 5px;

}

.detail-schedule-container .schedule-add-container{
  display: grid;
  height: 35px;
  width: 97%;
  grid-template-columns: 49% 49%;
  grid-column-gap: 1%; 
  margin: auto;
  margin-bottom: 5px;
}
.schedule-add-container input{
  background-color: #2196f3;
  border-radius: 7px;
  border: 0;
  cursor: pointer;
  font-weight: 600;
}

.schedule-add-container input:active{
  opacity: .7;
}

.detail-schedule-container .time-memo-list-container{
  display: flex;
  flex-direction: column;
}
.time-memo-list-container .memo{
  margin: auto;
  width: 225px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
.time-empty{
  padding: 40px;
}