.sidebar-container {
  width: 250px;
  background-color: #BBDEFB;
  padding: 20px;
  height: 100vh;
  position: fixed; /* 사이드바 고정 */
  top: 0;
  left: 0;
  z-index: 1000; /* 헤더와의 z-index 순서를 고려 */
}

.logo-text {
  text-align: center;
}

.menu-item {
  margin: 25px 0;
  padding: 10px;
  background-color: white;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  text-decoration: none; 
  color: inherit; 
  display: block;
}

/* 프로필과 로그아웃 버튼이 나란히 배치될 컨테이너 */
.profile-logout-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto; /* 컨테이너를 사이드바 하단으로 밀어줌 */
}

/* 작게 배치될 버튼 스타일 */
.small-button {
  width: 48%;
  padding: 5px;
  font-size: 12px;
  margin: 0;
  border-radius: 20px;
  margin-top: 30px;margin-left: 5px;
}