.signup-page {
    display: flex;
    flex-direction: column; /* 요소들을 수직으로 정렬 */
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #E3F2FD;
    width: 100%;
}

.signup-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.logo {
    font-size: 32px;
    font-weight: 1000;
    margin-bottom: 30px;
    color: #000;
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-size: 16px;
    text-align: left;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none; /* 보더라인 제거 */
    border-bottom: 1px solid #ccc; /* 하단에만 라인 추가 */
    background-color: transparent; /* 배경색 투명 */
    outline: none; /* 포커스 시 나타나는 기본 outline 제거 */
    border-radius: 0; /* 로그인과 일관성 있게 변경 */
    font-size: 16px;
}

.input-group input:focus {
    border-bottom: 1px solid #000; /* 포커스 시 하단 라인의 두께 및 색상 변경 */
}

.signup-button {
    width: 100%;
    padding: 10px;
    background-color: #BBDEFB;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}

.signup-button:hover {
    background-color: #90CAF9;
}
